@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Oxygen:wght@300;400;700&family=Quicksand:wght@300..700&display=swap');
@import 'tailwindcss';

@theme {
  --font-large: 'Quicksand', 'sans-serif';
  --font-buttons-nav: 'Outfit', 'sans-serif';
  --font-medium-small: 'Oxygen', 'sans-serif';
  --font-text: 'Libre Franklin', 'sans-serif';

  --color-dark: #383939;
  --color-light: #a6c1a1;
  --color-buttons: #536e6d;
  --color-ring: #578bcf;
}
